<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bankso"
        tools:targetApi="31">
        <activity
            android:name=".DeleteUserByAdmin"
            android:exported="false" />
        <activity
            android:name=".UserDetailByAdmin"
            android:exported="false" />
        <activity
            android:name=".AdminCheckBalance"
            android:exported="false" />
        <activity
            android:name=".WithdrawByAdmin"
            android:exported="false" />
        <activity
            android:name=".DepositByAdmin"
            android:exported="false" />
        <activity
            android:name=".AdminLandingPage"
            android:exported="false" />
        <activity
            android:name=".Withdrawamount"
            android:exported="false" />
        <activity
            android:name=".AddAmount"
            android:exported="false" />
        <activity
            android:name=".UserLandingPage"
            android:exported="false" />
        <activity
            android:name=".AdminLogin"
            android:exported="false" />
        <activity
            android:name=".UserLogin"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>